body {
  background-color: #1E2839; /* Dark navy background */
  /* ... other styles ... */
}

.app-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #007bff; 
  color: white;
}

.app-title {
  margin: 15; 
  font-size: 1.5rem; 
}

.board-controls {
  display: flex;
  gap: 10px; 
}

.board-btn {
  padding: 6px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4B627F; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.board-btn:hover {
  background-color: #637DA0; 
}

.board {
  background-color: #4B627F; 
  border-radius: 25px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  max-width: 1800px; 
  margin: 30px auto; 
  padding: px;
  min-height: 950px;
  display: flex;
  flex-direction: row; 
  overflow-x: auto; 
}

.add-list-btn {
  background-color: #364357;
  border: 0px solid  rgba(0, 0, 0, 0.7);
  color: #ffffff; 
  padding: 5px 20px; 
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s; 
  align-self: flex-start;
  border-radius: 15px; 
}

.add-list-btn:hover {
  background-color: #637DA0;
  color: white;
}

.list-input {
  margin: 12px;
  margin-right: 2px;
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 50%; /* Adjust the width as needed */
}

.add-list-confirm-btn {
  background-color: #4B627F;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* LoginPage */


.login-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.login-panel, .registration-panel {
  background-color: #3C5068;;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Maximum width of the panels */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.login-btn, .register-btn {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #4B627F;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-btn:hover, .register-btn:hover {
  background-color: #637DA0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-panel-btn {
  background-color: #4B627F;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 10px;
  margin-top: 10px; /* Adjust as needed */
}


.switch-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px; /* Space above the switch button */
  border-radius: 4px;
  border: 1px solid #4B627F; /* Border color similar to the button background */
  background-color: #4B627F; /* Transparent background */
  color: #fff; /* Text color similar to the button background */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.switch-btn:hover {
  background-color: #637DA0; /* Background color on hover */
  color: white; /* Text color on hover */
}

/* YourBoards */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #2A3B55; 
  color: white;
}

.logout-btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: #4B627F;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background-color: #637DA0;
  color: white;
}

.boards-container {
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.create-board-input {
  width: 30%; /* Adjust width as needed */
  padding: 8px;
  margin: 10px auto; /* Center the input field */
  display: block; /* Make it a block element */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.create-board-btn {
  width: 30%; /* Align width with input field */
  padding: 8px 5px;
  margin: 0 auto; /* Center the button */
  display: block; /* Make it a block element */
  background-color: #4B627F; /* Theme color */
  color: white; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.create-board-btn:hover {
  background-color: #637DA0; /* Darker shade on hover */
}

.board-bar {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.create-board-section {
  margin-top: 20px; 
}

.no-boards {
  text-align: center;
  margin-top: 20px;
}

.board-bar {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.board-bar:hover {
  background-color: #637DA0;
}

.max-boards-msg {
  color: red;
  text-align: center;
  margin-top: 20px;
}


/* List & Card 

/* Styling for the list container */
.list {
  background-color: #3C5068; /* Light background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow */
  padding: 15px; /* Padding inside the container */
  margin: 10px; /* Margin around the list */
  width: 200px; /* Fixed width */
}

/* Styling for individual cards */
.card {
  height: 50%;
  background-color: rgb(46, 66, 92); /* White background for cards */
  border-radius: 4px; /* Slightly rounded corners for cards */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for cards */
  margin-bottom: 10px; /* Space between cards */
  padding: 10px; /* Padding inside cards */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Styling for the add card input and button */
.add-card-input {
  width: 80%; /* Full width */
  padding: 8px; /* Comfortable padding */
  margin-right: 47px;
  margin-left: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da; /* Border color */
  border-radius: 4px; /* Rounded corners */
}

.add-card-btn {
  background-color: #4B627F; /* Blue background */
  padding: 6px;
  width: 50%;
  margin-right: 47px;
  margin-left: 47px;
  color: white; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  border-radius: 4px
}

.add-card-btn:hover {
  background-color: #637DA0; /* Slightly darker blue on hover */
}

/* Styling for the card details panel */
.card-details {
  background-color: #3C5068; /* Light gray background */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow */
  padding: 10px; /* Padding inside the panel */
  margin-top: 10px; /* Space above the panel */
}

/* Styling for the description textarea */
.card-description {
  width: 100%; /* Full width */
  height: 100px; /* Fixed height */
  padding: 8px; /* Padding */
  border: 1px solid #ced4da; /* Border color */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 10px; /* Space below the textarea */
}

/* Styling for the deadline date input */
.card-deadline {
  width: 100%; /* Full width */
  padding: 8px; /* Padding */
  border: 1px solid #ced4da; /* Border color */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 10px; /* Space below the input */
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/* DeleteConfirmationModal.css */

.delete-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-modal p {
  color: #333; /* Or any color you want for the text */
  text-align: center;
  margin-bottom: 20px;
}

.delete-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.delete-modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white; /* Text color */
}

.delete-modal-button.yes {
  background-color: #1E2839; /* Match the theme of the program */
}

.delete-modal-button.no {
  background-color: #ccc; /* A neutral color for the 'No' button */
}

.delete-modal-button:hover {
  opacity: 0.8; /* A simple hover effect */
}


